<div class="jumbotron text-center">
  <h1>Hospital management system</h1>
  <p class="lead">Welcome to the ultimate solution of every problem in a hospital.</p>
  <div>
    <a class="btn btn-primary" [routerLink] = "['/register']">Register</a> <a class="btn btn-default" [routerLink] = "['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>OPD</h3>
    <p>General physicians available</p>
  </div>
  <div class="col-md-4">
    <h3>ICU</h3>
    <p>Special department of a hospital or health care facility that provides intensive treatment medicine</p>
  </div>
  <div class="col-md-4">
    <h3>Pharmacy</h3>
    <p>Hospital pharmacies stock a larger range of medications.</p>
  </div>
</div>
